{% load static %}
{% block title %}Авторизация{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/cart.css' %}">

<div class="container auth-container">
    <h2>Войти</h2>
    <br>
    <form action="{% url 'login' %}" method="post" class="auth-form">
        {% csrf_token %}
        <label for="username">Имя пользователя</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" class="auth-btn">Войти</button>
    </form>
    <br>
    <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
</div>
{% endblock %}