{% extends "main/base.html" %}
{% load static %}
{% block title %}Корзина{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/cart.css' %}">

<div class="container">
    <h2>Корзина</h2>
    <h1>Список товаров:</h1>
    <div class="cart-items">
        {% for item in cart_items %}
        <div class="cart-item">
            <p>{{ item.name }}</p>
            <p>{{ item.price }} руб.</p>
            <form method="post" action="{% url 'update_quantity' item.name %}">
                {% csrf_token %}
                <label for="quantity">Количество:</label>
                <select name="quantity" onchange="this.form.submit()">
                    {% for i in range %}
                        <option value="{{ i }}" {% if item.quantity == i %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        {% endfor %}
    </div>

    <div class="cart-summary">
        <div class="order">
            <form method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                <label for="phone" style="text-align: center;">Номер телефона:</label>
                <input type="text" id="phone" name="phone" required>

                <label for="email" style="text-align: center;">Почта:</label>
                <input type="email" id="email" name="email" required>

                <label for="delivery_option" style="text-align: center;">Способ получения:</label>
                <select id="delivery_option" name="delivery_option" onchange="toggleAddressField()">
                    <option value="Pickup">Самовывоз</option>
                    <option value="Delivery">Доставка</option>
                </select>

                <div id="address_field" style="display: none;">
                    <label for="address" style="text-align: center;">Адрес:</label>
                    <input type="text" id="address" name="address">
                </div>

                <button type="submit" class="checkout-btn">Оформить заказ</button>
            </form>
        </div>
        <br>
        <p>Итого: <span class="cart-total">{{ total }} руб.</span></p>
    </div>

    <div class="corsina">
        <form method="get" action="{% url 'clear_cart' %}">
            <button type="submit" class="checkout-btn">Очистить корзину</button>
        </form>
        <br>
    </div>
</div>

<script src="{% static 'main/scripts/cart.js' %}"></script>
{% endblock %}
